:root {
  --primary-color: #26a69a;
  --secondary-color: #e0f2f1;
  --third-color: #00695c;
  --highlight-color: white;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font-commonused: "Merriweather", serif;
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  opacity: 0.7;
}

.content-para {
  font-size: 16px;
  line-height: 30px;
}

.contect-work-para {
  font-size: 10px;
  font-weight: bold;
}
.hero {
  background: #b2dfdb;
  text-align: center;
  font-family: var(--font-commonused);
  padding: 110px 10px;
}

.hero h2 {
  font-weight: bold;
  font-size: 36px;
  padding-top: 10px;
}

.shortintro {
  font-family: var(--font-commonused);
  font-weight: bold;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link:hover {
  text-decoration: underline;
  background-color: var(--third-color);
  color: var(--highlight-color);
  border: var(--primary-color);
}

.allimaging {
  border-radius: 10px;
  width: 100%;
  height: auto;
  transition: all 300ms ease-in-out;
}
.allimaging:hover {
  transform: scale(1.2);
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.navbar-brand:hover {
  text-decoration: underline;
}

.content-container {
  padding: 0;
  text-align: center;
}

.content h1 {
  font-size: 64px;
  line-height: 70px;
  font-family: "Work Sans", sans-serif;
}

.content h2 {
  font-size: 12px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
}

.content h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
  color: black;
  font-weight: bolder;
}

.about-section-para {
  font-size: 15px;
}
.profile-pic {
  border-radius: 10px;
  padding: 20px;
}
.content {
  margin: 15px;
  text-align: center;
}
.project-details {
  padding: 50px 60px 0;
}

.contact-details {
  font-size: 10px;
  color: black;
}

@media (max-width: 900px) {
  h1,
  .content h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 38px;
  }

  .content h3 {
    font-size: 15px;
  }

  .hero {
    padding: 40px 5px;
  }

  .content {
    text-align: center;
    padding: 0;
  }
  .project-details {
    padding: 0;
    text-align: center;
    margin-top: 20px;
  }
}
